{% extends 'main/base.html' %}
{% load static %}

{% block head %}
    <script type="text/javascript" src="{% static 'main/uploader.js' %}"></script>
    <script>let CSRF_TOKEN = "{{ csrf_token }}";</script>
{% endblock %}

{% block content %}
<div id="wrapper">
{% if analyzed_file %}
    {% include "main/result.html" %}
{% else %}
    <!-- Information
    <div id="information">
        <h4>Information</h4>
        <h5 id="totalfiles">Total Audio Files: {{totalfiles}}</h5>
        <h5 id="model_language">Model Language: {{model_language}}</h5>
        <h5 id="model">Powered by DialogFlow (Google Cloud)</h5>
    </div>  -->

    <!-- Uploader -->
    <div id="upload-wrapper">
        <h4>Upload Audio</h4>
        <form method="POST" enctype="multipart/form-data" id="fileform" name="fileform">
            {% csrf_token %}
            <input type="file" id="selectedFile" name="audio_upload" accept=".wav" class="custom-file-upload"/>
            <label for="selectedFile">
                <figure>
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="17" viewBox="0 0 20 17">
                        <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"></path>
                    </svg>
                </figure>
                <span>Choose a file&hellip;</span>
            </label>
            <br>
            <button type="submit">Upload</button>
        </form>
    </div>
    {% endif %}
</div>
<script>
    // Handle File Upload Button
    let inputs = document.querySelectorAll(".custom-file-upload");
    Array.prototype.forEach.call(inputs, function (input) {
        let label = input.nextElementSibling;
        input.addEventListener("change", function (e) {
            label.querySelector("span").innerHTML = e.target.value.split("\\").pop();
        });
    });

    // Handle File Upload (POST)
      const form = document.getElementById("fileform");
      form.addEventListener( "submit", function ( event ) {
          let file = document.getElementById("selectedFile").files[0];
          event.preventDefault();
          upload_audio(file);
      });

    // On load:
    $(document).ready(function() {
        if (sessionStorage.getItem("wrapper2")) {
            document.getElementById("wrapper").innerHTML = sessionStorage.getItem("wrapper2");
            sessionStorage.removeItem("wrapper2");
        }
    })
</script>
{% endblock %}